<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <div class="nav-brand" (click)="scrollTo('#hero')">
      <span class="brand-dot"></span>
      <span class="brand-text">Portfolio</span>
    </div>

    <ul class="nav-links" [class.open]="menuOpen">
      <li *ngFor="let link of navLinks">
        <a (click)="scrollTo(link.href)">{{ link.label }}</a>
      </li>
    </ul>

    <button class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>
